[submodule "plugins/zsh-eza"]
	path = plugins/zsh-eza
	url = https://github.com/z-shell/zsh-eza
[submodule "plugins/zsh-autosuggestions"]
	path = plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "plugins/zsh-syntax-highlighting"]
	path = plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "plugins/zsh-completions"]
	path = plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "plugins/zsh-autopair"]
	path = plugins/zsh-autopair
	url = https://github.com/hlissner/zsh-autopair
[submodule "plugins/zsh-you-should-use"]
	path = plugins/zsh-you-should-use
	url = https://github.com/MichaelAquilina/zsh-you-should-use
[submodule "plugins/alehouse"]
	path = plugins/alehouse
	url = https://github.com/sticklerm3/alehouse
[submodule "plugins/forgit"]
	path = plugins/forgit
	url = https://github.com/wfxr/forgit
[submodule "plugins/emoji-cli"]
	path = plugins/emoji-cli
	url = https://github.com/wfxr/emoji-cli/
[submodule "plugins/fzf-tab"]
	path = plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab

